<Navbar Direction=NavbarDirection.Horizontal Background=NavbarBackground.Dark>
    
      <a href="" class="navbar-brand navbar-brand-autodark">
        <img src="img/TabBlazorLogoWhite.png" alt="Tabler" class="navbar-brand-image me-2">
        <h2 class="text-muted">TraCR</h2>
    </a>
    
    <NavbarMenu>
        <AuthorizeView>
            <NavbarMenuItem Href="" Text="Dashboard">
                <MenuItemIcon>
                    <Icon class="icon" Elements="@Icons.Dashboard" />
                </MenuItemIcon>
            </NavbarMenuItem>
        </AuthorizeView>
    </NavbarMenu>
    <LoginDisplay />
</Navbar>
