
@using Microsoft.AspNetCore.SignalR.Client
@using Tracr.Client.Models
@inject NavigationManager NavigationManager


<p>Hello</p>
<div>
    @if (!alertNotification.Any())
    {
        <p>No Notifications</p>
    }

    <ul>
    @foreach (var item in alertNotification)
    {
            <li>@item</li>
    }
    </ul>

</div>
@code {
    private HubConnection hubConnection;
    private List<string> alertNotification = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/alerthub")).Build();

        hubConnection.On<string>("AlertPropertyForSale", (type) =>
        {
            alertNotification.Add(type);

             InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
}