@using Tracr.Client.Models
<Card>
    <CardBody>
        <div class="d-flex align-items-center">
            <div class="subheader" style="font-size: unset; text-transform: unset;">Top Earning Properties</div>
            <div class="ms-auto lh-1">
                <Dropdown @ref="DropdownRef">
                    <ChildContent>
                        <a class="dropdown-toggle text-muted" aria-haspopup="true" aria-expanded="false">
                            @ViewModeMessage
                        </a>
                    </ChildContent>
                    <DropdownTemplate>
                        <DropdownMenu>
                            <DropdownItem OnClick="(() => { CurrentViewMode = ViewMode.YTD; DropdownRef.Toogle(); })">Year-To-Date (YTD)</DropdownItem>
                            <DropdownItem OnClick="(() => { CurrentViewMode = ViewMode.SixMonths; DropdownRef.Toogle(); })">Last 6 months</DropdownItem>
                            <DropdownItem OnClick="(() => { CurrentViewMode = ViewMode.OneYear; DropdownRef.Toogle(); })">Last year</DropdownItem>
                        </DropdownMenu>
                    </DropdownTemplate>
                </Dropdown>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1">Top 5</div>
        </div>
        <div>
            <ApexChart @ref=TopEarningPropertyChart TItem="TopEarningProperty" Options="@ChartOptions" FormatYAxisLabel="GetProfitLabel">
                <ApexPointSeries TItem="TopEarningProperty"
                                 Items="TopEarningProperties"
                                 Name="Earnings"
                                 SeriesType="SeriesType.Bar"
                                 XValue="@(e => e.PropertyName)"
                                 YAggregate="@(e => e.Sum(e => e.Earnings))"
                                 OrderByDescending="e=>e.Y" />
            </ApexChart>
        </div>
    </CardBody>
</Card>