@using BlazorStrap.Extensions.FluentValidation

<BSForm class="card card-md" Model=@PersonalInfoViewModel  OnValidSubmit="UpdateInformation">
    <CardBody>
        <h2 class="card-title text-center mb-4">Personal Information</h2>
        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <CustomAlert Important=true Type="CustomAlertType.Error" Icon="@Icons.Alert_circle">
                @ErrorMessage
            </CustomAlert>
        }
        <FluentValidator TValidator="PersonalInfoValidator" />
        @if (!SubmittingData)
        {
            <div class="mb-3">
                <BSLabel>First Name</BSLabel>
                <BSInput InputType="InputType.Text" placeholder="Enter First Name" @bind-Value="PersonalInfoViewModel.FirstName"/>
                <BSFeedback For="@(() => PersonalInfoViewModel.FirstName)"/>
            </div>
            <div class="mb-3">
                <BSLabel>Last Name</BSLabel>
                <BSInput InputType="InputType.Text" placeholder="Enter Last Name" @bind-Value="PersonalInfoViewModel.LastName"/>
                <BSFeedback For="@(() => PersonalInfoViewModel.LastName)"/>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Update Information</button>
            </div>
        }
        else
        {
            <div style="display:flex; justify-content:center;">
                <div class="spinner-border" role="status"></div>
            </div>
        }
    </CardBody>
</BSForm>