@page "/resetPassword/"
@using BlazorStrap.Extensions.FluentValidation
@using Tracr.Client.ViewModels

<div class="page page-center">
    <div class="container-tight py-4">
        <BSForm class="card card-md" Model=@ResetPasswordViewModel OnValidSubmit="ResetUserPassword">
            <CardBody>
                <h2 class="card-title text-center mb-4">Reset Password</h2>
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <BSAlert Color="BSColor.Danger">
                        @ErrorMessage
                    </BSAlert>
                }
                <FluentValidator TValidator="ResetPasswordValidator" />
                <DataAnnotationsValidator />
                @if (ResetPasswordViewModel != null && !SubmittingData)
                {
                    <div class="mb-3">
                        <BSLabel>Username</BSLabel>
                        <BSInput InputType="InputType.Text" placeholder="Username" @bind-Value="ResetPasswordViewModel.UserName"/>
                        <BSFeedback For="@(() => ResetPasswordViewModel.UserName)"/>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Password</BSLabel>
                        <BSInput InputType="InputType.Password" placeholder="Password" @bind-Value="ResetPasswordViewModel.Password"/>
                        <BSFeedback For="@(() => ResetPasswordViewModel.Password)"/>
                        <small class="form-text text-muted">Password must be between 6 and 100 characters long.</small>
                        <small class="form-text text-muted">Password must contain an uppercase and lowercase letter, a number and a special character.</small>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Confirm Password</BSLabel>
                        <BSInput InputType="InputType.Password" placeholder="Confirm Password" @bind-Value="ResetPasswordViewModel.ConfirmPassword"/>
                        <BSFeedback For="@(() => ResetPasswordViewModel.ConfirmPassword)"/>
                    </div>
                    <div class="form-footer">
                      <button type="submit" class="btn btn-primary w-100">Reset your password</button>
                    </div>
                }
                else
                {
                    <div style="display:flex; justify-content:center;">
                        <div class="spinner-border" role="status"></div>
                    </div>
                }
            </CardBody>
        </BSForm>
        <div class="text-center text-muted mt-3">
            Oh yeah! I remember now. Send me back to the <a href="login">log in</a> screen.
        </div>
    </div>
</div>