@page "/resetPassword/"
@inject NavigationManager? NavigationManager;

<div class="page page-center">
    <div class="container-tight py-4">
        <ChangePassword PasswordChanged="@(() => NavigationManager?.NavigateTo("login"))" />
        <div class="text-center text-muted mt-3">
            Oh yeah! I remember now. Send me back to the <a href="login">log in</a> screen.
        </div>
    </div>
</div>